Repository tracel3ss/Badg3rFuzz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @security-team, @lead-developer, @devops-team, @qa-team

fix
  README.md
Owners: @security-team, @lead-developer

log folder improve
  badg3rfuzz.py
Owners: @lead-developer, @security-team

fix name
  requirements-dev.txt
Owners: @security-team

improve and fix minor issues in testing
  badg3rfuzz.py
  pytest.ini
  tests/conftest.py
  tests/test_check_success.py
  tests/test_core_functions.py
  tests/test_error_handling.py
  tests/test_main.py
  tests/test_network_security.py
  tests/test_pem_handling.py
  tests/test_rate_limiting.py
  tests/test_utils.py
  tests/test_webdriver.py
  tests/test_workers.py
Owners: @lead-developer, @security-team, @qa-team

Update python-app.yml
  .github/workflows/python-app.yml
Owners: @devops-team, @security-team

Update .flake8
  .flake8
Owners: @security-team, @lead-developer

improves global values
  badg3rfuzz.py
Owners: @lead-developer, @security-team

global variables fix
  badg3rfuzz.py
Owners: @lead-developer, @security-team

Update python-app.yml
  .github/workflows/python-app.yml
Owners: @devops-team, @security-team

Update python-app.yml
  .github/workflows/python-app.yml
Owners: @devops-team, @security-team

minor improve subprocess shell False
  badg3rfuzz.py
Owners: @lead-developer, @security-team

webdriver url fix
  .github/workflows/python-app.yml
Owners: @devops-team, @security-team

minor fix
  pyproject.toml
Owners: @security-team, @lead-developer

minor fixes workflow
  .github/workflows/python-app.yml
  tests/conftest.py
Owners: @devops-team, @security-team, @qa-team, @lead-developer

minor fix worklow
  .github/workflows/python-app.yml
  pytest.ini
Owners: @devops-team, @security-team, @lead-developer

minor fixes workflow
  .coveragerc
  .gitignore
  .pre-commit-config.yaml
  bandit.yml
Owners: @security-team, @lead-developer

improve yml
  .github/workflows/python-app.yml
Owners: @devops-team, @security-team

Improve integration tests
  tests/integration/test_full_workflow.py
  tests/integration/test_main_entrypoint.py
  tests/test_core_functions.py
Owners: @qa-team, @lead-developer

fix workflow integration test cov
  .github/workflows/python-app.yml
Owners: @devops-team, @security-team

integration tests
  tests/integration/test_check_success_integration.py
  tests/integration/test_full_workflow.py
  tests/integration/test_token_cookie_generation.py
Owners: @qa-team, @lead-developer

integration test fix
  tests/integration/test_check_success.py
  tests/integration/test_full_workflow.py
  tests/integration/test_main_entrypoint.py
Owners: @qa-team, @lead-developer

workflow improvement
  .github/workflows/python-app.yml
  scripts/security-check.sh
Owners: @devops-team, @security-team

bandit config minor fix
  .bandit
  .github/workflows/python-app.yml
  scripts/security-check.sh
Owners: @security-team, @lead-developer, @devops-team

minor fix bandit config
  .bandit
Owners: @security-team, @lead-developer

unit marker fix
  pytest.ini
Owners: @security-team, @lead-developer

bandit fix
  .bandit
Owners: @security-team, @lead-developer

workflow fixes
  tests/integration/test_check_success.py
  tests/integration/test_main_entrypoint.py
  tests/integration/test_token_cookie_generation.py
Owners: @qa-team, @lead-developer

tests fix
  tests/integration/test_check_success.py
  tests/integration/test_check_success_integration.py
  tests/integration/test_login_attempt.py
  tests/unit/test_check_success_unit.py
Owners: @qa-team, @lead-developer

webdriver test fix
  tests/integration/test_check_success_integration.py
Owners: @qa-team, @lead-developer

mock reference
  tests/integration/test_check_success_integration.py
Owners: @qa-team, @lead-developer

webdriver & mock reference undefined
  tests/integration/test_check_success_integration.py
Owners: @qa-team, @lead-developer

workflow improvement
  tests/conftest.py
  tests/integration/test_check_success_integration.py
  tests/integration/test_full_workflow.py
  tests/integration/test_login_attempt.py
  tests/integration/test_main_entrypoint.py
  tests/integration/test_token_cookie_generation.py
Owners: @qa-team, @lead-developer

fix syntax integration tests
  tests/integration/test_full_workflow.py
  tests/integration/test_main_entrypoint.py
  tests/integration/test_token_cookie_generation.py
Owners: @qa-team, @lead-developer

improve print_lock
  badg3rfuzz.py
Owners: @lead-developer, @security-team

multiple improvements-migration selenium to playwright
  badg3rfuzz.py
Owners: @lead-developer, @security-team

improve readme to latest changes
  README.md
Owners: @security-team, @lead-developer

fixed requirementst.txt
  requirements.txt
Owners: @security-team

.github/CODEOWNERS:

# .github/CODEOWNERS - Propietarios del c√≥digo
# Global owners
* @security-team @lead-developer

# Security-related files
/scripts/security-check.sh @security-team
/.github/workflows/ @devops-team @security-team
/tests/security/ @security-team
bandit.yml @security-team
requirements*.txt @security-team

# Core application
badg3rfuzz.py @lead-developer @security-team
/tests/ @qa-team @lead-developer
